<div>
  <h2 md-dialog-title>MY DIALOG</h2>
  <hr>
  <md-dialog-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe placeat accusantium facere laboriosam non, atque incidunt sed temporibus ad molestiae consequatur at impedit nam suscipit repudiandae vero dicta doloribus, deleniti.
    <br>
    <br>
    <strong>{{data}}</strong>
  </md-dialog-content>
  <hr>
  <md-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()">CONFIRM</button>
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </md-dialog-actions>
</div>
